##### 1. Create a variable conatining following type of data :
           a. string
           b. list
           c. float 
           d. tuple

Ans: my_string= "Hello World"
     my_list= [1,2,3,3.2,True,False,3+6j]
     my_float= 3.14
     my_tuple= (4,3,4,[1,2,'Hello World',False],'Pwskills')




#### 2. Given are some following variables containing data:
         a. var1= ''
         b. var2= '[DS , ML , Python]'
         c. var3=['DS' , 'ML' , 'Python']
         d. var4= 1

Ans: (i) var1 is a string variable with an empty value.

     (ii) var2 is a string variable containing three elements. The elements are enclosed in square brackets, indicating that it is a string representation of a list.

    (iii) var3 is a list variable containing three elements.

     (iv) var4 is an integer variable with a value of 1.

#### 3. Explain the use of the following operators using an example:
           (i) /
           (ii) %
           (iii) // 
           (iv) **

Ans: (i) The `/` operator is the division operator. It performs division between two numbers and returns the quotient as a floating-point number.

Example:
a = 10
b = 3
result = a / b
print(result)

output: 3.33

(ii) The `%` operator is the modulo operator. It returns the remainder of the division between two numbers.

Example:
a = 10
b = 3
result = a % b
print(result)

output: 1

(iii) The `//` operator is the floor division operator. It performs division between two numbers and returns the quotient as an integer.

Example:
a = 10
b = 3
result = a // b
print(result)

Output: 3

(iv) The `**` operator is the exponentiation operator. It raises a number to the power of another number.

Example:
a = 2
b = 3
result = a ** b
print(result)

Output: 8

#### 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [9]:
l=[1,2,3,4,5,'Hello World',True,3+4j,4.34,{1,2,3}] 
for i in l :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
Hello World <class 'str'>
True <class 'bool'>
(3+4j) <class 'complex'>
4.34 <class 'float'>
{1, 2, 3} <class 'set'>

#### 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [11]:
A = 150
B = 2
count = 0

while A % B == 0:
    A /= B
    count += 1

print("Number A can be divided by number B", count, "times.")

Number A can be divided by number B 1 times.

#### 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
my_list = [12, 7, 36, 45, 22, 9, 15, 27, 18, 33, 4, 19, 30, 8, 10, 21, 13, 42, 6, 25, 16, 3, 28, 39, 17]

for i in my_list:
    if i % 3 == 0:
        print(i, "is divisible by 3.")
    else:
        print(i, "is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
36 is divisible by 3.
45 is divisible by 3.
22 is not divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
27 is divisible by 3.
18 is divisible by 3.
33 is divisible by 3.
4 is not divisible by 3.
19 is not divisible by 3.
30 is divisible by 3.
8 is not divisible by 3.
10 is not divisible by 3.
21 is divisible by 3.
13 is not divisible by 3.
42 is divisible by 3.
6 is divisible by 3.
25 is not divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
28 is not divisible by 3.
39 is divisible by 3.
17 is not divisible by 3.

#### 7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans:  Mutable Data Types:
     Mutable data types, on the other hand, are those that can be modified after they are created. Changes made to a mutable object will directly affect the object itself without creating a new object. Examples of mutable data types        in Python include lists, dictionaries, and sets. Example :-

In [24]:
my_list= [1,2,3.14,True]
my_dict= {"Name": "John" , "Age":25}
my_set= {1,2,3}
my_list.append('Harsh')
my_dict["Age"]=35
my_set.add(4)
print(my_list)
print(my_dict)
print(my_set)

[1, 2, 3.14, True, 'Harsh']
{'Name': 'John', 'Age': 35}
{1, 2, 3, 4}




Immutable Data Types:
Immutable data types are those whose values cannot be changed after they are created. If you want to modify an immutable object, you need to create a new object with the desired changes. Examples of immutable data types in Python include integers, floats, booleans, strings, and tuples. Example :-

In [30]:
# Immutable data types
a = 5
b = 'Hello'
c = (1, 2, 3)
a = 10  
b = b + ' World'  
c = c + (4,)  

print(a)  # Output: 10
print(b)  # Output: Hello World
print(c)  # Output: (1, 2, 3, 4)

10
Hello World
(1, 2, 3, 4)